@model WebApplication1.Models.Gripper

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Gripper</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GripperName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GripperName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stroke__in_)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stroke__in_)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Force_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Force_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Force_OD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Force_OD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ma)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mb_Mc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mb_Mc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GripperID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
