@model IEnumerable<WebApplication1.Models.Gripper>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GripperName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stroke__in_)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Force_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Force_OD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ma)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mb_Mc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GripperName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stroke__in_)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Force_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Force_OD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ma)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mb_Mc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.GripperID }) |
            @Html.ActionLink("Details", "Details", new { id=item.GripperID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.GripperID })
        </td>
    </tr>
}

</table>
